*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(31, 59, 119);
}
h2, h3{
    color: rgb(10, 44, 136);
}
/*Container*/
.container{
    width: 50%;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}
.subcontainer{
    width: 90%;
    margin: auto;
}
/*Header*/
.header{
    background-color: white;
    margin-bottom: 10px;
    padding-top: 10px;
}
.header h2{
    text-align: center;
    padding: 20px;
    padding-bottom: 5px;
}
.header p{
    text-align: center;
    padding-bottom: 40px;
}
/*Personal Information*/
.personal{
    background-color: rgb(240, 240, 240);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.personal h3{
    border-bottom: 1px solid blue;
    padding-bottom: 10px;
}
/*Personal: Names*/
.names{
    padding-top: 10px;
    display: flex;
    justify-content: left;
}
.formname{
    width: 80%;
}
.f2{
    margin-left: 3%;
}
#name{
    width: 100%;
    padding: 10px;border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    cursor: pointer;
}
/*Personal: Email*/
.emails{
    padding-top: 20px;
    width: 100%;
}
.formemail{
    width: auto;
}
#email{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    cursor: pointer;
}
/*Personal: Bday*/
.bdays{
    padding: 10px 0 10px 0;
    width: 100%;
}
.formbday{
    width: auto;
}
#bday{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    cursor: pointer;
}
/*Preferences*/
.preferences{
    background-color: rgb(240, 240, 240);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.preferences h3{
    border-bottom: 1px solid blue;
    padding-bottom: 10px;
}
/*Preferences: Experience*/
.exp{
    padding: 10px 0 10px 0;
    width: 100%;
}
.formexp{
    width: auto;
}
#experience{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    cursor: pointer;
}
/*Preferences: Activities*/
.activities{
    padding: 10px 0 10px 0;
    width: 100%;
}
.formactive{
    width: auto;
}
.option{
    width: 100%;
    padding: 10px;
}
#hike, #rock, #kayak, #scuba{
    cursor: pointer;
}
/*Preferences: Duration*/
.duration{
    padding: 10px 0 10px 0;
    width: 100%;
}
.formduration{
    width: auto;
}
.slabel{
    width: 100%;
    padding: 10px;
}
#wknd, #week, #extend{
    cursor: pointer;
}
/*Additional Information*/
.additional{
    background-color: rgb(240, 240, 240);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.additional h3{
    border-bottom: 1px solid blue;
    padding-bottom: 10px;
}
/*Additional: Fitness level*/
.fitness{
    padding: 10px 0 10px 0;
    width: 100%;
}
.fitform{
    width: auto;
}
#fitness{
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
/*Additional: Bio*/
.bio{
    padding: 10px 0 10px 0;
    width: 100%;
}
.bioform{
    width: auto;
}
#bio{
    width: 100%;
    padding: 10px;
    resize: none;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    cursor: pointer;
}
/*Additional: Profile*/
.profile{
    padding: 10px 0 10px 0;
    width: 100%;
}
.profform{
    width: auto;
}
#profile{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
}
/*Agreement*/
.agreement{
    padding: 25px 0 25px 0;
}
#accept{
    cursor: pointer;
}
/*Submit Button*/
.submit{
    width: 100%;
}
.submitform{
    width: auto;
}
#submit{
    width: 100%;
    padding: 10px;
    background-color: rgb(31, 59, 119);
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}